body {
  margin: 0;
  padding: 0;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.navbar {
  font-family: 'Lora', sans-serif;
  font-size: 26px;
}

.overview,
.original_language,
.vote_average,
.vote_count {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
}

.release_date {
  font-family: 'Open Sans', sans-serif;
}

.loadMore {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: '#27ae60';
  color: '#fff';
}

.searchInput {
  color: #1abc9c;
  font-family: 'Lora', sans-serif;
  font-weight: 600;
  font-size: 26px;
}
